*{
color: #000000;
}

h2{
	color: white;
}

header {
	border:8px solid gold;
	background-image:url(images/victor_ian.jpg);
	padding: 10px 30px 5px 0;
	text-align: center;
	top: 0;
	width: 100%;
	font-family:Verdana,"Times New Roman", Arial, sans-serif;
}
footer{
	border:8px solid gold;
	margin-top: 10px;
	width: 100%;
	padding: 10px 30px 5px 0;
	height: 150px;
	background-image:url(images/victor_ian.jpg);
}
body{
	background-color:#622A1D;
}
p { 
	font-family:Verdana,"Times New Roman", Arial, sans-serif;
	color: black;
	font-size: 20px;}

nav{
	font-family:Verdana,"Times New Roman", Arial, sans-serif;
	color: black;
	font-size: 20px;
	text-align:center;
	word-spacing: 3em;
}

nav a{
	color: white;
}
nav a:hover{
	color: blue;
}
	
nav ul{
	text-decoration: none;
}
nav ul li{
	display: inline-block;
}

.note{
	font-family:Verdana,"Times New Roman", Arial, sans-serif;
	color: white;
	font-size: 20px;
	text-align:center;
	border: 3px gold solid;
	border-radius: 15px;
	margin-top:5%;
	margin-bottom:3%;
}

.special2{
	word-spacing: 0;
}	

/*Begin gallery CSS*/

	.thumbnails img {
		height: 300px;
		width:300px;
		border: 4px solid #555;
		padding: 1px;
		margin: 0 10px 10px 0;
	}

	.thumbnails img:hover {
		border: 4px solid #00ccff;
		cursor:pointer;
	}
	
	.thumbnails img:click {
		border: 4px solid #00ccff;
		cursor:pointer;
	}

	.preview img {
		border: 4px solid #444;
		padding: 1px;
		width: 800px;
		height: 700px;
	}
/*End Gallery CSS*/

figure figcaption{
	text-align:center;
	margin: 10px, 10px, 10px, 10px;
	padding:5px,5px,5px,5px;
	border: solid black 3px;
	border-radius: 45px;
	background-color: #FAEBD7;
	width: 50em;
	font-family:Verdana,"Times New Roman", Arial, sans-serif;
	}


